/* Colors */
:root {
  --text-dark: #403f3d;
  --text-light: #e1d4c9;
  --text-accent: #b0907a;
  --background-body: #e1d4c9;
  --background-container: #665f55;
  --background-backdrop: #403f3d;
  --border-light: #c1b6ad;
  --border-dark: #665f55;
}

/* Tablet (>=769px) */
@media (min-width: 769px) {
  /* home style */
  header .burger-wrapper {
    display: none;
  }
  .coffee-cup {
    display: flex;
  }
  nav.main-menu {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
  }
  nav.main-menu ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  nav.main-menu li {
    display: flex;
    align-items: center;
  }
  nav.main-menu li a {
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    color: var(--text-dark);
  }
  .coffee-cup a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    color: var(--text-dark);
  }
  .coffee-cup a img {
    width: 20px;
    display: flex;
    align-items: center;
    justify-self: center;
  }

  .container {
    padding: 0 40px;
  }
  .offer {
    padding: 30px 60px;
  }
  .heroTitle {
    font-size: 72px;
    font-weight: 600;
    line-height: 105%;
  }
  .favCoffee {
    margin-top: 100px;
  }
  .favTitle {
    font-size: 60px;
    font-weight: 600;
    line-height: 125%;
  }
  .carousel-arrow {
    display: flex;
  }
  .aboutTitle {
    font-size: 60px;
    font-weight: 600;
    line-height: 125%;
    margin: 100px 0 40px 0;
  }
  .mobileAppTitle {
    font-size: 60px;
    font-weight: 600;
    line-height: 125%;
  }
  .mobileApp .apps {
    flex-direction: row;
  }
  .mobileAppImage img {
    max-width: 630px;
    margin-bottom: 100px;
  }
  footer {
    margin-bottom: 40px;
    height: 736px;
    padding: 100px 60px;
  }
  .footer-message span {
    font-size: 60px;
    font-weight: 600;
    line-height: 125%;
  }
  .footerMessageDark {
    display: block;
  }
  footer .social {
    margin: 40px 0 100px 0;
  }
  /* menu style */
  .menuTitle {
    font-size: 60px;
    font-weight: 600;
    line-height: 125%;
  }
  .menuTitle .menuTitleDark::after {
    content: "";
  }
  .menu-category {
    gap: 16px;
  }
  .products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
  .product {
    margin-bottom: 0;
  }
  /* modal style */
  .modal {
    width: 688px;
    display: flex;
    gap: 20px;
  }
  .modal img {
    display: block;
    border-radius: 40px;
  }
}

/* Desktop (>=1441px) */
@media (min-width: 1441px) {
  .offer {
    width: 50%;
  }
  .offer .icon {
    display: none;
  }
  .carousel-main {
    width: 480px;
  }
  .aboutGallery .about-2,
  .aboutGallery .about-3 {
    display: block;
  }
  .aboutGallery {
    display: grid;
    grid-template-columns: auto auto;
    gap: 40px;
    margin: 40px 0;
  }
  .aboutGallery img {
    object-fit: cover;
    display: block;
    height: 100%;
  }
  .about-1 {
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 9;
  }
  .about-2 {
    grid-column: 1;
    grid-row-start: 9;
    grid-row-end: 11;
  }
  .about-3 {
    grid-column: 2;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .about-4 {
    grid-column: 2;
    grid-row-start: 3;
    grid-row-end: 11;
  }
  .mobileApp {
    flex-direction: row;
    margin-top: 100px;
  }
  .mobileAppDescription {
    width: 50%;
    justify-content: center;
  }
  .mobileAppTitle {
    font-size: 60px;
    font-weight: 600;
    line-height: 125%;
  }
  .mobileApp .apps {
    flex-direction: row;
  }
  .mobileAppImage img {
    max-width: 630px;
  }
  footer {
    height: 450px;
    display: flex;
    flex-direction: row;
  }
  .contact {
    align-content: center;
    justify-content: center;
    margin-left: 10%;
  }
  /* menu style */
  .menuTitle {
    width: 800px;
  }
  .products {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 40px 0;
  }
  .btn-more {
    display: none;
  }
  /* modal style */
  .modal {
    width: 800px;
  }
}
