/* Colors */
:root {
  --text-dark: #403f3d;
  --text-light: #e1d4c9;
  --text-accent: #b0907a;
  --background-body: #e1d4c9;
  --background-container: #665f55;
  --background-backdrop: #403f3d;
  --border-light: #c1b6ad;
  --border-dark: #665f55;
}

/* Tablet (>=769px) */
@media (min-width: 769px) {
  /* home style */
  header .burger-wrapper {
    display: none;
  }
  .coffee-cup.cup-menu {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .cup-menu {
    text-decoration: none;
    color: var(--text-dark);
    justify-content: center;
    align-items: center;
  }
  .coffee-cup.cup-menu img {
    width: 20px;
    height: 20px;
  }
  nav.main-menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav.main-menu ul {
    list-style: none;
    display: flex;
    gap: 40px;
  }
  nav.main-menu li {
    display: flex;
    align-items: center;
  }
  nav.main-menu li a {
    text-decoration: none;
    position: relative;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    color: var(--text-dark);
  }
  .cup-menu {
    position: relative;
    text-decoration: none;
  }
  nav.main-menu li a::after,
  .cup-menu::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #333;
    transition: all 0.5s ease;
    transform: translateX(-50%);
  }
  nav.main-menu li a:hover::after,
  .cup-menu:hover::after {
    width: 100%;
  }
  .coffee-cup a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    color: var(--text-dark);
  }
  .coffee-cup a img {
    width: 20px;
    display: flex;
    align-items: center;
    justify-self: center;
  }
  .offer {
    padding: 30px 60px;
  }
  .heroTitle {
    font-size: 72px;
    font-weight: 600;
    line-height: 105%;
  }
  .favCoffee {
    margin-top: 100px;
  }
  .favTitle {
    font-size: 60px;
    font-weight: 600;
    line-height: 125%;
  }
  .carousel-arrow {
    display: flex;
  }
  .aboutTitle {
    font-size: 60px;
    font-weight: 600;
    line-height: 125%;
    margin: 100px 0 40px 0;
  }
  .mobileAppTitle {
    font-size: 60px;
    font-weight: 600;
    line-height: 125%;
  }
  .mobileApp .apps {
    flex-direction: row;
  }
  .mobileAppImage img {
    max-width: 630px;
  }
  footer {
    margin-bottom: 40px;
    height: 736px;
    padding: 100px 60px;
  }
  .footer-message span {
    font-size: 60px;
    font-weight: 600;
    line-height: 125%;
  }
  .footerMessageDark {
    display: block;
  }
  footer .social {
    margin: 40px 0 100px 0;
  }
  /* menu style */
  .menuTitle {
    font-size: 60px;
    font-weight: 600;
    line-height: 125%;
  }
  .menuTitle .menuTitleDark::after {
    content: "";
  }
  .menu-category {
    gap: 16px;
  }
  .products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
  .product {
    margin-bottom: 0;
  }
  .btn-more {
    display: none;
  }
  /* modal style */
  .modal {
    width: 688px;
    display: flex;
    gap: 20px;
  }
  .modal img {
    display: block;
    border-radius: 40px;
  }
}

/* Desktop (>=1441px) */
@media (min-width: 1441px) {
  .offer {
    width: 50%;
  }

  .hero-button {
    position: relative;
    display: inline-flex;
    align-items: center;
    background: none;
    border: 2px solid #333;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 600;
    color: #333;
    transition: all 0.3s ease;
    overflow: hidden;
  }
  .hero-button .icon {
    width: 20px;
    height: 20px;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    display: inline-block;
  }
  .hero-button span {
    display: inline-block;
    transition: transform 0.5s ease;
  }
  .hero-button:hover span {
    transform: translateX(-6px);
  }
  .hero-button:hover .icon {
    opacity: 1;
    transform: translateX(0);
  }

  .carousel-main {
    width: 480px;
  }
  .aboutGallery .about-2,
  .aboutGallery .about-3 {
    display: block;
  }
  .aboutGallery .about-1,
  .aboutGallery .about-2,
  .aboutGallery .about-3,
  .aboutGallery .about-4 {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
  }

  .aboutGallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    height: 1280px;
  }

  .left-column {
    display: grid;
    grid-template-rows: 55% 40%;
    gap: 40px;
  }

  .right-column {
    display: grid;
    grid-template-rows: 40% 55%;
    gap: 40px;
  }

  .aboutGallery img {
    position: absolute;
    object-fit: cover;
    transition: transform 0.7s ease;
  }

  .mobileApp {
    flex-direction: row;
  }
  .mobileAppDescription {
    width: 50%;
    justify-content: center;
  }
  .mobileAppTitle {
    font-size: 60px;
    font-weight: 600;
    line-height: 125%;
  }
  .mobileApp .apps {
    flex-direction: row;
  }
  .mobileAppImage img {
    max-width: 630px;
  }
  footer {
    height: 450px;
    display: flex;
    flex-direction: row;
  }
  .contact {
    align-content: center;
    justify-content: center;
    margin-left: 10%;
  }
  /* menu style */
  .menuTitle {
    width: 800px;
  }
  .products {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 40px 0;
  }
  /* modal style */
  .modal {
    width: 800px;
  }
}
