<div class="logo" id="logo"><a href="../index.html">
    <img class="coffee-house-logo" src="../img/logo.png" alt="Coffee House Logo"></a>
</div>

<nav class="main-menu" id="main-menu">
  <ul>
    <li><a href="#favorite-coffee">Favorite coffee</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="#mobile-app">Mobile app</a></li>
    <li><a href="#footer">Contact us</a></li>
  </ul>
</nav>
<a href="menu.html" class="cup-menu">
  <div class="coffee-cup cup-menu">Menu <img src="../img/coffee-cup.png" alt="coffee cup">
  </div>
</a>

<div class="burger-wrapper">
  <button class="burger" aria-label="Menu" id="burger-btn">
    <span class="burger-lines"></span>
  </button>
  <nav class="side-menu" id="sideMenu">
    <ul>
      <li><a href="#favorite-coffee">Favorite coffee</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#mobile-app">Mobile app</a></li>
      <li><a href="#footer">Contact us</a></li>
      <li class="side-cup"><a href="menu.html">Menu <img src="../img/coffee-cup.png" alt="coffee cup"></a>
      </li>
    </ul>
  </nav>
</div>